*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

:root{
    --black: #000814;
    --darkBlue: #001d3d;
    --lightBlue: #003566;
    --gold: #ffc300;
    --yellow: #ffd60a;
    --white: #ffffff;
}

.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.header{
    padding: 30px 0px;
    background-color: var(--black);
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    font-size: 24px;
    color: var(--gold);
}
.header_list ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.header_list ul li a:hover{
    color: var(--gold);
    transition: 0.3s ease-in;
}
.header_list ul li a.selected{
    color: var(--gold);
    border-bottom: var(--gold) solid 2px;
}
li a{
    text-decoration: none;
    font-size: 18px;
}
.header_list{
    display: flex;
    justify-content: flex-end;
}

.intro{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 80px;
}
h2{
   font-size: 70px; 
   color: var(--yellow);
}
h3{
    font-size: 50px;
}
h4{
    font-size: 20px;
    color: var(--yellow);
}
h5{
    font-size: 15px;
}
.text{
    font-size: 18px;
}
.h_line{
    height: 3px;
    width: 50px;
    background-color: var(--white);
}

.family{
    background-color: var(--lightBlue);
    padding: 30px;
}
.family_members{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}
.member{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--darkBlue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.member_image img{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50% 0 50% 50%;
}
.member_text{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    gap: 10px;
}
.member_name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.member_name p{
    color: var(--yellow);
}
.member_name h5{
    color: var(--gold);
}

.burger_menu{
    display: none;
}
.off_screen_menu{
    display: none;
}

@media screen and (max-width: 1150px){
    .header_wrapper{
        padding: 0px 20px;
    }
    .intro{
        align-items: center;
    }
    .member{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 748px){
    .header_wrapper{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .family_members{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .member{
        max-width: 590px;
        width: 100%;
        flex-direction: row;
        text-align: left;
    }
}

@media screen and (max-width: 591px){
    .header_wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .header_list{
        display: none;
    }
    .about_me div{
        flex-direction: column;
    }
    .v_line{
        margin: 0px;
    }
    .member{
        flex-direction: column;
        text-align: center;
    }

    .burger_menu{
        display: block;
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .burger_menu span{
        height: 5px;
        width: 100%;
        background-color: #6f86ff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .burger_menu span:nth-child(1){
        top: 25%;
    }
    .burger_menu span:nth-child(3){
        top: 75%;
    }
    .burger_menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 1;
    }
    .burger_menu.active span:nth-child(2){
        opacity: 0;
    }
    .burger_menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
        z-index: 1;
    }

    .off_screen_menu{
        background-color: rgb(34, 37, 49);
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position:fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    }
    .off_screen_menu.active{
        z-index: 1;
        right: 0px;
    }
    .off_screen_menu ul{
        list-style-type: none;
    }
    .off_screen_menu ul li a:hover {
        color: var(--gold);
        transition: 0.3s ease-in;
    }
    .off_screen_menu ul li a.selected {
        color: var(--gold);
        border-bottom: var(--gold) solid 2px;
    }
}